<section>
	<div class="content">
		<div class="topContent">
		<div class="contactMe">
			<p>{{ 'contact.description' | translate}}</p>
			<h1 [innerHTML]="'contact.headline' | translate"></h1>
		
			<div class="contactDescription">
				<p [innerHTML]="'contact.descriptionTwo' | translate"></p>
			</div>
		</div>

		<form>

			<img src="/assets/03_Stickers/00_Round/02_ Color option 3 - Yellow.png" alt="">

			<div class="formGroup">
				<label for="name">{{ 'contactForm.name' | translate}}</label>
				<input type="name" id="name" name="name" placeholder="{{ 'contactForm.nameHolder' | translate}}">
			</div>

			<div class="formGroup">
				<label for="email">{{ 'contactForm.email' | translate}}</label>
				<input type="email" id="email" name="email" placeholder="{{ 'contactForm.emailHolder' | translate}}">
			</div>

			<div class="formGroup">
				<label for="message">{{ 'contactForm.message' | translate}}</label>
				<textarea id="message" name="message" placeholder="{{ 'contactForm.messageHolder' | translate}}"></textarea>
			</div>

			<div class="checkboxGroup">
				<input type="checkbox" id="privacyPolicy" name="privacy-policy">
				<label for="privacyPolicy">{{ 'contactForm.privacyPolice' | translate}} <a href="#" class="privacy-link">privacy policy</a> {{ 'contactForm.privacyLink' | translate}}</label>
				<span class="error-message">{{ 'contactForm.errorMessage' | translate}}</span>
			</div>

			<div class="subBtn">
				<button type="submit">{{ 'contactForm.sendButton' | translate}}</button>
			</div>

		</form>

		</div>

		<div class="myName">
			<img src="/assets/Extras/MyLogo (1).png" alt="">
			<p>&copy; Marcus Gühne 2025</p>
		</div>

		<div class="footerLink">
			<nav>
				<ul>
					<li class="legalFooter"><a href="">Legal Notice</a></li>
				</ul>
			</nav>

			<button class="gitBtn">
				<p>Github</p>
				<img src="/assets/Extras/Github.png" alt="">
			</button>

			<button class="gitBtn">
				<p>LinkedIn</p>
				<img src="/assets/Extras/icons8-linkedin-52.png" alt="">
			</button>

			<button class="gitBtn">
				<p>Email</p>
				<img src="/assets/Extras/Contact.png" alt="">
			</button>
		</div>

	</div>
</section>
