<section>
	<div class="content">
		<div class="topContent">
		<div class="contactMe">
			<p>{{ 'contact.description' | translate}}</p>
			<h1 [innerHTML]="'contact.headline' | translate"></h1>
		
			<div class="contactDescription">
				<p [innerHTML]="'contact.descriptionTwo' | translate"></p>
			</div>
		</div>

		<form (ngSubmit)="onSubmit()">
				<img src="/assets/03_Stickers/00_Round/02_ Color option 3 - Yellow.png" alt="">

			<div class="formGroup">
				<label for="name">{{ 'contactForm.name' | translate}}</label>
				<input type="name" id="name" name="name" [(ngModel)]="name" placeholder="{{ 'contactForm.nameHolder' | translate}}">
			</div>

			<div class="formGroup">
				<label for="email">{{ 'contactForm.email' | translate}}</label>
				<input type="email" id="email" name="email" [(ngModel)]="email" placeholder="{{ 'contactForm.emailHolder' | translate}}">
			</div>

			<div class="formGroup">
				<label for="message">{{ 'contactForm.message' | translate}}</label>
				<textarea id="message" name="message" [(ngModel)]="message" placeholder="{{ 'contactForm.messageHolder' | translate}}"></textarea>
			</div>

			<div class="checkboxGroup">
				<input type="checkbox" id="privacyPolicy" name="privacy-policy" [(ngModel)]="isPrivacyAccepted">
				<label for="privacyPolicy">{{ 'contactForm.privacyPolice' | translate}} <a href="#" class="privacy-link">privacy policy</a> {{ 'contactForm.privacyLink' | translate}}</label>
				<span class="error-message">{{ 'contactForm.errorMessage' | translate}}</span>
			</div>

			<div class="subBtn">
				<button type="submit" [disabled]="!isPrivacyAccepted">{{ 'contactForm.sendButton' | translate}}</button>
			</div>

			<div *ngIf="emailSent" class="success-message">
				<p>Ihre E-Mail wurde erfolgreich versendet! Vielen Dank.</p>
			</div>
		</form>

		</div>

		<div class="myName">
			<img src="/assets/Extras/MyLogo (1).png" alt="">
			<p>&copy; Marcus Gühne 2025</p>
		</div>

			<nav  class="footerLink">
				<li>
					<a class="legalFooter" href="imprint" target="_blank">Legal Notice</a>
				</li>

				<li>
					<a class="gitBtn" href="https://github.com/Prodigy2103" target="_blank">
						<p>Github</p>
						<img src="/assets/Extras/Github.png" alt="">
					</a>
				</li>

				<li>
					<a class="gitBtn" href="imprint">
						<p>LinkedIn</p>
						<img src="/assets/Extras/icons8-linkedin-52.png" alt="">
					</a>
				</li>

				<li>
					<a class="gitBtn" href="mailto:marcusghne@gmx.de">
						<p>Email</p>
						<img src="/assets/Extras/Contact.png" alt="">
					</a>
				</li>
			</nav>

	</div>
</section>
