<header>

	<div class="content">

		<img src="/assets/Extras/07_Logo.png" alt="">

		<nav>
            <ul>
                <li class="about"><a href="#about">{{ 'header.about' | translate}}</a></li>
                <li class="skills"><a href="">{{ 'header.skills' | translate}}</a></li>
                <li class="projects"><a href="">{{ 'header.projects' | translate}}</a></li>
				<li class="contact"><a href="">{{ 'header.contact' | translate}}</a></li>
            </ul>
        </nav>

        <div class="languageBtn">
            <button (click)="useLanguage('en')"> 
                <!-- Siehe LerntageBuch -->
                <img [src]="translate.getCurrentLang() === 'en' ? '/assets/Extras/HeaderLanguage/English Hover.png' : '/assets/Extras/HeaderLanguage/English Default.png'" alt="English"/>
            </button>

            <button (click)="useLanguage('de')">
                <!-- Siehe LerntageBuch -->
                <img [src]="translate.getCurrentLang() === 'de' ? '/assets/Extras/HeaderLanguage/Deutsch Hover.png' : '/assets/Extras/HeaderLanguage/Deutsch Default.png'" alt="Deutsch"/>
            </button>
        </div>

	</div>

</header>

<!-- TODO: hovereffekte mit img und transistion -->