<header>

	<div class="content">

		<img src="/assets/Extras/07_Logo.png" alt="">

		<nav>
            <ul>
                <li class="about"><a href="#about">{{ 'header.about' | translate}}</a></li>
                <li class="skills"><a href="">{{ 'header.skills' | translate}}</a></li>
                <li class="projects"><a href="">{{ 'header.projects' | translate}}</a></li>
				<li class="contact"><a href="">{{ 'header.contact' | translate}}</a></li>
            </ul>
        </nav>

        <div class="languageBtn">
            <button (click)="useLanguage('en')"><img src="/assets/Extras/HeaderLanguage/English Hover.png" alt=""></button>
            <button (click)="useLanguage('de')"><img src="/assets/Extras/HeaderLanguage/Deutsch Default.png" alt=""></button>
        </div>

	</div>

</header>

<!-- TODO: hovereffekte mit img und transistion -->