@use './../../../../../public/styles/all_styles.scss' as all;

.projectView {
	border: 2px solid red;
	background-image: url('./../../../../../public/assets/01_Background/Img Original Size/Note book paper2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	width: 100vw;
	height: 100vh;

	.headerTwo {
		border: 2px solid green;
		width: 100%;
		position: absolute;
		display: flex;
		justify-content: space-evenly;
		top: 0;
		z-index: 1000;

		img {
			width: 96px;
			height: 96px;
		}

		nav {
			width: 100%;

			ul {
				display: flex;
				justify-content: space-around;
				margin: 15px;

				a {
					font-size: 1.6rem;
					text-shadow: 2px 2px 4px black;
				}
			}

			@include all.about();
			@include all.skills();
			@include all.projects();
			@include all.contact();
		}

		.languageBtn {
			display: flex;
			flex-direction: row;
			gap: 20px;

			button {
				background: transparent;
				border: none;
				cursor: pointer;
				
				img {
					width: 64px;
					height: 64px;
				}
			}
		}
	}

	.backBtn {
		border: 2px solid yellow;
		display: flex;
		align-items: center;
		margin-top: 7rem;
		padding-left: 2rem;
		cursor: pointer;

		img {
			width: 32px;
			height: 32px;
		}
	}

section {
	height: 100vh;
	z-index: 0;

	.content {
		border: 2px solid blue;
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		height: 80vh;
		padding: 0;

		.projectSingleView {
			width: 50%;
			border: 2px solid red;
		}

		.pepeImg {
			width: 50%;
			height: 66vh;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			border: 2px solid pink;

			img {
				border: 2px solid teal;
				width: 70%;
			}

			.nextProjectBtn {
				width: 100%;
				border: 2px solid yellow;
				display: flex;
				align-items: center;
				justify-content: end;
				cursor: pointer;

				a {
					color: white;
				}

				img {
					width: 32px;
					height: 32px;
				}
			}
	}
}
}}