<section>
    <div class="content">
        <div class="topRow">
            <div class="project">
                <div class="projectInfo">
                    <p>{{ 'projects.info.title' | translate}}</p>
                    <h1 class="headSkill">{{ 'projects.info.headline' | translate}}</h1>
                </div>
                <div class="projectDescription">
                    <p>{{ 'projects.info.description' | translate}}</p>
                </div>
            </div>

            <div class="projectMain">
                <div class="projectImg">
                    <img class="projectOne" src="/assets/ProjectsImg/29_Join thumbnail.png" alt="">
                    <div class="projectBtn">
                        <button  class="styledBtn" (click)="toggleProjectView('join')">Project details</button>
                    </div>
                </div>
                <div class="projectDescriptionOne">
                    <p>{{ 'projects.info.description' | translate}}</p>
                </div>
            </div>
        </div>

        <div class="bottomRow">
            <div class="projectMain">
                <div class="projectImg">
                    <img src="/assets/ProjectsImg/startscreen_1.png" alt="">
                    <div class="projectBtn">
                        <button class="styledBtn" (click)="toggleProjectView('pepe')">Project details</button>
                    </div>

                </div>
                
                <div class="projectDescriptionOne">
                    <p>{{ 'projects.info.description' | translate}}</p>
                </div>
            </div>

            <div class="projectMain">
                <div class="projectImg">
                    <img class="projectOne" src="/assets/ProjectsImg/Component 30.png" alt="">
                    <div class="projectBtn">
                        <button class="styledBtn" (click)="toggleProjectView('daBubble')">Project details</button>
                    </div>
                </div>
                <div class="projectDescriptionOne">
                    <p>{{ 'projects.info.description' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="overlayContainer" *ngIf="showProjectView">
    <app-project-view [currentProject]="selectedProject" (closeEvent)="closeProjectView()"></app-project-view>
</div>