<section>
	
	<div class="project">
		<div class="projectInfo">
			<p>{{ 'projects.title' | translate}}</p>
			<h1 class="headSkill">{{ 'projects.headline' | translate}}</h1>
		</div>

		<div class="projectDescription">
			<p>{{ 'projects.description' | translate}}</p>
		</div>
	</div>

	<div class="projectMain">

		<div class="projectImg">
			<img class="projectOne" src="/assets/ProjectsImg/29_Join thumbnail.png" alt="">
		</div>

		<div class="projectDescriptionOne">
			<p>{{ 'projects.description' | translate}}</p>
		</div>

	</div>

	<div class="projectMain">

		<div class="projectImg">
			<img src="/assets/ProjectsImg/startscreen_1.png" alt="">
		</div>

		<div class="projectDescriptionOne">
			<p>{{ 'projects.description' | translate}}</p>
		</div>

	</div>
	
	<div class="projectMain">

		<div class="projectImg">
			<img class="projectOne" src="/assets/ProjectsImg/Component 30.png" alt="">
		</div>

		<div class="projectDescriptionOne">
			<p>{{ 'projects.description' | translate}}</p>
		</div>
		
	</div>

</section>

<!-- TODO:  -buttons in img div einfügen
			-hover Effekte img  
			-verlinkung auf infoseite der Projects-->