<section>
	<div class="content">

		<div class="collHead">
			<p>{{ 'collage.description' | translate}}</p>
			<h1>{{ 'collage.headline' | translate}}</h1>
		</div>

		<div class="comments">

			<div class="stickerLeft">
				<img src="/assets/03_Stickers/02_Testimonials/Rectangle Sticker.png" alt="">
				<p>Hallo</p>
			</div>

			<div class="stickerMiddle">
				<img src="/assets/03_Stickers/02_Testimonials/Rectangle Sticker (1).png" alt="">
				<p>HalloMiddle</p>
			</div>

			<div class="stickerRight">
				<img src="/assets/03_Stickers/02_Testimonials/Rectangle Sticker (2).png" alt="">
				<p>HalloRight</p>
			</div>

		</div>
	</div>
</section>
