section {

	.content {
		
		.collHead {
			width: 75%;
			display: flex;
			align-items: end;
			flex-direction: column;
			margin-bottom: 2rem;

			h1 {
				font-size: clamp(16px, 3.5dvw, 64px );
			}

			p {
				font-size: clamp(16px, 1.5dvw, 32px );
			}
		}

		.comments {
			display: flex;

			.stickerLeft {
				position: relative;
				left: 16rem;
				z-index: 4;

				p {
					position: absolute;
					width: 75%;
					height: 30vh;
					border: 2px solid green;
					transform: rotate(-4deg);
					top: 50px;
					left: 67px;
				}
			}

			.stickerMiddle {
				position: relative;
				top: 5rem;
				z-index: 3;

				&:hover {
					z-index: 8;
				}

				p {
					position: absolute;
					width: 75%;
					height: 30vh;
					border: 2px solid green;
					top: 23px;
					left: 63px;
				}
			}

			.stickerRight {
				position: relative;
				right: 14rem;
				z-index: 1;

				&:hover {
					z-index: 4;
				}

				p {
					position: absolute;
					width: 75%;
					height: 30vh;
					border: 2px solid green;
					transform: rotate(4deg);
					top: 42px;
					left: 67px;
				}
			}
		}
	}
}