<section id="about">

<div class="content">

	<div class="aboutBasics">

		<div class="yellowImg">
			<div class="locationImg">
				<img class="locationIcon" src="/assets/Extras/Location.png" alt="">
				<p>{{ 'about.location' | translate}}</p>
			</div>
		</div>

		<div class="blueImg">
			<div class="relocationImg">
				<img class="locationIcon" src="/assets/Extras/Relocation.png" alt="">
				<p>{{ 'about.relocation' | translate}}</p>
			</div>
		</div>

		<div class="orangeImg">
			<div class="remoteImg">
				<img class="remoteIcon" src="/assets/Extras/Remote.png" alt="">
				<p>{{ 'about.remote' | translate}}</p>
			</div>
		</div>

	</div>

	<div class="aboutInfo">

		<div class="ownerInfo">
			<p>{{ 'about.title' | translate}}</p>
			<h1 class="head">{{ 'about.headline' | translate}}</h1>
		</div>

		<div class="ownerDescription">
			<p [innerHTML]="'about.description' | translate"></p>
		</div>

		<div class="aboutBtn">
			<button class="talkBtn">{{ 'button.talkBtn' | translate}}</button>
		</div>
		
	</div>

</div>

</section>
