<section id="about">
	<div class="aboutBasics">

		<div class="yellowImg">
			<img class="paperRipYellow" src="/assets/02_Ripped Paper/Option 1/Yellow.png" alt="">
			<div class="locationImg">
				<img class="locationIcon" src="/assets/Extras/Location.png" alt="">
				<p>Based in Oschatz/Sachsen</p>
			</div>
		</div>

		<div class="blueImg">
			<img class="paperRipBlue" src="/assets/02_Ripped Paper/Option 1/2 Blue.png" alt="">
			<div class="relocationImg">
				<img class="locationIcon" src="/assets/Extras/Relocation.png" alt="">
				<p>Open to relocate</p>
			</div>
		</div>

		<div class="orangeImg">
			<img class="paperRipOrange" src="/assets/02_Ripped Paper/Option 1/3 Orange.png" alt="">
			<div class="remoteImg">
				<img class="remoteIcon" src="/assets/Extras/Remote.png" alt="">
				<p>Open to work remote</p>
			</div>
		</div>

	</div>

	<div class="aboutInfo">

		<div class="ownerInfo">
			<p>{{ 'about.title' | translate}}</p>
			<h1 class="head">{{ 'about.headline' | translate}}</h1>
		</div>

		<div class="ownerDescription">
			<p>{{ 'about.description' | translate}}</p>
		</div>

		<div class="aboutBtn">
			<button class="talkBtn">{{ 'button.talkBtn' | translate}}</button>
		</div>
		
	</div>
</section>
