@use "../../../../public/styles/all_styles.scss" as all;

section {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 5em;
	padding-right: 10em;

	.aboutBasics {
		display: flex;
		align-items: end;
		padding: 5rem 10rem;
		flex-direction: column;
		width: 50%;

    .yellowImg {
		transform: rotate(-5deg);
		margin-bottom: -3.5rem;
		background-image: url("/assets/02_Ripped Paper/Option 1/Yellow.png");

    .paperRipYellow {
        top: 50px;
		}

    .locationImg {
        top: -9px;
		display: flex;
		align-items: center;
		gap: 10px;
		}
    }

    .blueImg {
		z-index: -5;
		background-image: url("/assets/02_Ripped Paper/Option 1/2 Blue.png");

    .paperRipBlue {
        width: 50rem;
        height: 8rem;
        left: -30px;
		}

	.relocationImg {
		display: flex;
		align-items: center;
		gap: 10px;
		}
    }

    .orangeImg {
		z-index: -10;
		background-image: url("/assets/02_Ripped Paper/Option 1/3 Orange.png");
		transform: rotate(3deg);
		margin-top: -3rem;

    .paperRipOrange {
        top: 15px;
        display: flex;
        align-items: start;
		}

    .remoteImg {
        top: -8px;
        transform: rotate(5deg);
		display: flex;
		align-items: center;
		gap: 10px;
		}
    }
	@include all.aboutRip();
}
    .aboutInfo {
		width: 50%;
		height: 70vh;
		display: flex;
		flex-direction: column;
		gap: 30px;

    .ownerInfo {
        display: flex;
        flex-direction: column;
        height: 33%;
        gap: 20px;
        p {
			font-size: 1.5rem;
        }

        h1 {
			font-size: 5.3rem;
        }

		@include all.head();
    }

    .ownerDescription {
        display: flex;
        align-items: center;
        height: 37%;
    }

    .aboutBtn {
        display: flex;
        justify-content: end;

        .talkBtn {
        @include all.allBtn();
        }
    }
    }
}