<section>

	<div class="content">

		<h1>{{ 'legalNotice.headOne' | translate}}</h1>
		<ol>
			<li>- Marcus Gühne</li>
			<li>- Lazerstr. 3</li>
			<li>- 04758 Oschatz</li>
		</ol>
		<h2>{{ 'legalNotice.headTwo' | translate}}</h2>
		<p>marcusghne&#64;gmx.de</p>
		<h2>{{ 'legalNotice.headThree' | translate}}</h2>
		<p [innerHTML]="'legalNotice.paraOne' | translate"></p>
		<h2>{{ 'legalNotice.headFour' | translate}}</h2>
		<p [innerHTML]="'legalNotice.paraTwo' | translate"><span>Portfolio</span> has been developed as part of a student group project in a web development bootcamp at the <span><span>Developer Akademie GmbH</span></span>. It has an educational purpose and is not intended for extensive personal & business usage. As such, we cannot guarantee consistent availability, reliability, accuracy, or any other aspect of quality regarding this Product.
			The design of <span>Portfolio</span> is owned by the <span>Developer Akademie GmbH</span>. Unauthorized use, reproduction, modification, distribution, or replication of the design is strictly prohibited.</p>
		<h2>{{ 'legalNotice.headFive' | translate}}</h2>
		<p [innerHTML]="'legalNotice.paraThree' | translate">Aside from the design owned by <span>Developer Akademie GmbH</span>, we, the listed students, retain all proprietary rights in <span>Portfolio</span>, including any associated copyrighted material, trademarks, and other proprietary information.</p>
		<h2>{{ 'legalNotice.headSix' | translate}}</h2>
		<p [innerHTML]="'legalNotice.paraFour' | translate"><span>Portfolio</span> is intended to be used for lawful purposes only, in accordance with all applicable laws and regulations. Any use of <span>Portfolio</span> for illegal activities, or to harass, harm, threaten, or intimidate another person, is strictly prohibited. You are solely responsible for your interactions with other users of <span>Portfolio</span>.</p>
		<h2>{{ 'legalNotice.headSeven' | translate}}</h2>
		<p [innerHTML]="'legalNotice.paraFive' | translate"><span>Portfolio</span> is provided "as is" without warranty of any kind, whether express or implied, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement. In no event will we, the listed students, or the <span>Developer Akademie</span>, be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data, or other intangible losses, even if we have been advised of the possibility of such damages, arising out of or in connection with the use or performance of <span>Portfolio</span>.</p>
		<h2>{{ 'legalNotice.headEight' | translate}}</h2>
		<p [innerHTML]="'legalNotice.paraSix' | translate">You agree to indemnify, defend and hold harmless us, the listed students, the <span>Developer Akademie</span>, and our affiliates, partners, officers, directors, agents, and employees, from and against any claim, demand, loss, damage, cost, or liability (including reasonable legal fees) arising out of or relating to your use of <span>Portfolio</span> and/or your breach of this Legal Notice.</p>
		<p [innerHTML]="'legalNotice.paraSeven' | translate">For any questions or notices, please contact us at [Contact Email].</p>
		<p [innerHTML]="'legalNotice.paraEight' | translate">Date: July 26, 2025</p>

		<!-- <div class="footer"> -->
			<nav  class="footerLink">
				<li>
					<a class="legalFooter" href="imprint" target="_blank">Legal Notice</a>
				</li>

				<li>
					<a class="gitBtn" href="https://github.com/Prodigy2103" target="_blank">
						<p>Github</p>
						<img src="/assets/Extras/Github.png" alt="">
					</a>
				</li>

				<li>
					<a class="gitBtn" href="imprint">
						<p>LinkedIn</p>
						<img src="/assets/Extras/icons8-linkedin-52.png" alt="">
					</a>
				</li>

				<li>
					<a class="gitBtn" href="mailto:marcusghne@gmx.de">
						<p>Email</p>
						<img src="/assets/Extras/Contact.png" alt="">
					</a>
				</li>
			</nav>
		</div>
	<!-- </div> -->

	
</section>
