@use "../../../../public/styles/all_styles.scss" as all;

section {
	background-image: url("/assets/01_Background/Design Size Relation@3x/01_Hero.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 120dvh;
	top: -120px;

	.mainInfo {
		position: absolute;
		top: 10rem;
		width: 80rem;
		height: 32rem;
		display: flex;
		flex-direction: column;
		align-items: center;


		.firstImage {
			position: absolute;
			top: 0rem;
			right: 10%;
			width: 20rem;
			height: 21.5rem;
			transform: rotate(7.5deg);

			img {
				width: 100%;
				height: 100%;
		}

		p {
			position: absolute;
			bottom: 1rem;
			left: 20%;
			color: black;
			font-size: 2.4rem;
			font-weight: 700;
			}
		}
	}

	.mainSectionBtn {
		width: 100%;

		.helloBtn {
			@include all.helloButton();
			@include all.buttonEffect();
			@include all.textSlideHover();

			img {
				padding: 10px;
				top: -50px;
				right: -50px;
				
			}
		}
	}

	.mainLetters {
		width: 70%;
		padding-top: 6em;
		
		.frontTitle {
			width: 100%;
			color: #f7f9fa;
			display: flex;
			justify-content: start;
			text-align: start;
			font-size: 8rem;
			margin: 0.2em 0;
			font-weight: 800;
		}

		.frontEnd {
			display: flex;
			justify-content: center;
			font-weight: 800;
		}

		.letter {
			display: inline-block;
			transition: transform 0.9s ease-in-out;
    }

		span {
			display: inline-block;
			transition: transform 0.7s ease-in-out, color 0.7s ease-in-out;
		}

		.isHover {
			color: #FFD700;
			transform: translateY(-5px) scale(1.1);
		}
		.isHover .letter {
			transform: translateY(-5px);
		}

		.frontTitle .letter:first-child:hover {
			text-transform: lowercase;
		}

		.frontTitle .letter:hover {
			text-transform: uppercase;
			color: #f7c518;
		}

		.frontEnd .letter:hover {
			text-transform: lowercase;
			color: #f7c518;
		}
	}

		.touchBtn {
			width: 100%;
			display: flex;
			justify-content: end;
			margin-top: 2em;

		.getTouch {
			@include all.getTouch();
		}
		}

		.navLinks {
			position: absolute;
			bottom: -20rem;
			left: -17rem;
			width: 5%;
			height: 50%;
			display: flex;
			flex-direction: column;
			align-items: end;
			gap: 1rem;

			img {
				border: 2px solid #f7f9fa;
				border-radius: 50%;
				width: 64px;

				&:hover {
					background: #19a8b5;
					transition: background-color 0.4s ease;
				}
			}
		}
	}