<section>

<div class="content">

	<div class="skillInfo">

		<div class="skillTitle">
			<p>{{ 'skills.title' | translate}}</p>
			<h1 class="skillHead">{{ 'skills.headline' | translate}}</h1>
			<img src="/assets/00_Hand-drawn lines/02_Skills/Color option 2.png" alt="">
		</div>

		<div class="skillDescription">
			<p [innerHTML]="'skills.description' | translate"></p>
		</div>

	</div>

	<div class="skillPeel">

		<div class="skillIcons">
	
			<div class="skillIconBox" *ngFor="let skill of skillIcons; let i = index">
				
				<img class="skillIcon color" [src]="skillIcons[i].src" [alt]="skillIcons[i].name" />
				<span>{{ skill.name }}</span>
    
			</div>

		</div>

		<div class="peelImg">

			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum ut dolorum, adipisci aperiam aliquid itaque quo reprehenderit rem esse similique. Quam, dolorum! Iure eum dignissimos expedita deleniti. At, officiis ratione.</p>
		
		</div>
	
	</div>

</div>

</section>
