section {
	background-image: url("./../../../../public/assets/01_Background/Design Size Relation@3x/03_Skills_2.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 120dvh;
	flex-direction: column;
	align-items: center;
	z-index: 20;

	.skillInfo {
		width: 80%;
		display: flex;

    .skillTitle {
		width: 25%;
    }

    .skillDescription {
		width: 50%;
		height: 25vh;
		background-image: url("/assets/02_Ripped Paper/1.Skills description.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		display: flex;
		justify-content: center;
		align-items: center;
    }
}

	.skillPeel {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: end;
		gap: 178px;

    .skillIcons {
		width: 35%;
		height: 35vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		column-gap: 40px;

    .skillIconBox {
        display: flex;
        flex-direction: column;
        width: 80px;
        height: 80px;
        align-items: center;

		span {
			color: white;
			text-align: center;
			}
		}
    }

	.peelImg {
		background-image: url('/assets/03_Stickers/01_Skills - Peel off/Default.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 15vw;
		height: 28vh;
		margin-right: 5rem;
		transform: rotate(15deg);
		}
	}
}
